<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.sudoku.core.factory">
      <factory
            class="com.koch.sudoku.KochSudokuBoardFactory"
            name="George Koch&apos;s Sudoku Puzzle Factory"/>
   </extension>
</plugin>
