<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="%category.name"
            id="org.eclipse.sudoku.ui">
      </category>
      <view
            name="%view.name"
            icon="icons/sudokuMain.gif"
            category="org.eclipse.sudoku.ui"
            class="org.eclipse.sudoku.ui.views.SudokuView"
            id="org.eclipse.sudoku.ui.views.SudokuView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation targetID="org.eclipse.sudoku.ui.actionSet">
         <part id="org.eclipse.sudoku.ui.views.SudokuView"/>
      </actionSetPartAssociation>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.eclipse.sudoku.ui.actionSet"
            label="%actionSet.label">
         <action
               class="org.eclipse.sudoku.ui.actions.NewBoardAction"
               icon="icons/sudokuNewPuzzle.gif"
               id="org.eclipse.sudoku.ui.CreateAction"
               label="%action.newpuzzle.label"
               menubarPath="sudoku.menu/additions"
               style="pulldown"
               toolbarPath="additions"
               tooltip="%action.newpuzzle.tooltip"/>
         <action
               class="org.eclipse.sudoku.ui.actions.SolveBoardAction"
               icon="icons/sudokuSolvePuzzle.gif"
               id="org.eclipse.sudoku.ui.SolveAction"
               label="%action.solvepuzzle.label"
               menubarPath="sudoku.menu/additions"
               style="pulldown"
               toolbarPath="additions"
               tooltip="%action.solvepuzzle.tooltip"/>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.sudoku.ui.handlers.ClearBoardCommand"
            commandId="org.eclipse.sudoku.ui.commands.clearpuzzle">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.sudoku.ui.commands.clearpuzzle"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F4">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="org.eclipse.sudoku.ui.menus.sudoku"
               label="Sudoku"
               mnemonic="S">
            <command
                  commandId="org.eclipse.sudoku.ui.commands.clearpuzzle"
                  icon="icons/sudokuClearPuzzle.gif"
                  id="org.eclipse.sudoku.ui.menus.clearpuzzle"
                  label="%action.clearpuzzle.label"
                  mnemonic="%action.clearpuzzle.mnemonic"
                  tooltip="%action.clearpuzzle.tooltip">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.eclipse.sudoku.ui.toolbars.sampleToolbar">
            <command
                  commandId="org.eclipse.sudoku.ui.commands.clearpuzzle"
                  icon="icons/sudokuClearPuzzle.gif"
                  id="org.eclipse.sudoku.ui.toolbars.clearpuzzle"
                  label="%action.clearpuzzle.label"
                  tooltip="Say hello world">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.eclipse.sudoku.ui.commands.category"
            name="Sudoku Category">
      </category>
      <command
            categoryId="org.eclipse.sudoku.ui.commands.category"
            description="%action.clearpuzzle.tooltip"
            id="org.eclipse.sudoku.ui.commands.clearpuzzle"
            name="%action.clearpuzzle.label">
      </command>
   </extension>

</plugin>
